h3{
	font-family:Quicksand;
	font-size: 50px;
	Color: gray;
	padding-left: 40px;
	margin: 0;
	padding-bottom: 20px;
	padding-top: 20px;
}

h4{
	font-family: Quicksand;
	font-size:30px;
	color:gray;
	padding-left: 100px;
}

td{
	font-family:Quicksand;
	font-size:25px;
	color:gray;
	padding-left:100px;
	padding-bottom: 20px;
	
}

div.adrs{
	font-family:Quicksand;
	font-size: 25px;
	color:grey;
	padding-left: 100px;
}

div.map{
	max-width: 600px;
	position: relative;
	margin: 10px;
	float: center;
	padding-bottom: 50px;
	padding-left: 160px; 
	
	}